<h1 class="text-3xl font-bold mb-6 text-gray-800">Messages</h1>
<div class="space-y-6">
  <% @users.each do |user| %>
    <div class="p-6 border border-gray-300 rounded-lg shadow-sm bg-white">
      <%= link_to user.email, conversation_messages_path(user), class: 'block text-blue-500 hover:underline font-medium text-lg' %>
    </div>
  <% end %>
</div>