<div class="border border-4 border-gray-600 w-[20rem] rounded-xl flex flex-col justify-center items-center p-6">
    <div class="border border-4 border-gray-600 w-full h-[15rem] aspect-w-1 aspect-h-1 rounded-xl"></div>
    <h1 class="text-left text-xl w-full pt-4">Professional Car Detailing</h1>
    <p class="font-light pt-2 text-sm text-left w-full">Posted by : John Simmons</p>
</div>