/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dadada;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f0f0f0 #ffffff;
}